*, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    display: flex;
    background-color: #333;
    position: fixed; /* Set the navbar to fixed position */
    z-index: 50;
    justify-content: center;
    align-items: center;
    top: 0; /* Position the navbar at the top of the page */
    right: 0;
    left: 0;
    width: 100%; /* Full width */
}

.navbar select {
    display: block;
    color: #f2f2f2;
    background-color: #333333;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border: none;
}


/* Links inside the navbar */
.navbar a {
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change background on mouse-over */
.navbar a:hover {
    background: #ddd;
    color: black;
}

.post__container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}


.post {
    display: flex;
    flex-direction: column;
    width: 750px;
    background-color: lightblue;
    margin-top: 20px;
    border-radius: 15px;
    padding: 20px;
}

.post__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.post__user {
    align-self: flex-start;
    font-size: 0;
    cursor: pointer;

}


.post__title {
    font-family: sans-serif;
    font-size: 18px;
    font-weight: bold;
    margin-right: 20px;
    white-space: pre-line;
    overflow-wrap: normal;
    word-wrap: normal;
    word-break: normal;
    line-break: auto;
    hyphens: manual;
}

.post__user img {
    height: 75px;
    width: 75px;
}

.post__body {
    height: 50%;
    width: 100%;
    background-color: transparent;
    font-family: sans-serif;
    font-size: 18px;
    white-space: pre-line;
    overflow-wrap: normal;
    word-wrap: normal;
    word-break: normal;
    line-break: auto;
    hyphens: manual;
}


.custom-btn {
    width: 200px;
    height: 40px;
    padding: 10px 25px;
    border: 2px solid #000;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
}

.visibility-comments-btn, .modal-close-btn {
    background: #000;
    color: #fff;
    z-index: 1;
}

.visibility-comments-btn:after, .modal-close-btn:after {
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    right: 0;
    z-index: -1;
    background: #e0e5ec;
    transition: all 0.3s ease;
}

.visibility-comments-btn:hover, .modal-close-btn:hover {
    color: #000;
}

.visibility-comments-btn:hover:after, .modal-close-btn:hover:after {
    left: 0;
    width: 100%;
}

.visibility-comments-btn:active, .modal-close-btn:active {
    top: 2px;
}

#modalWindow {
    position: fixed;
    z-index: 100;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, .35);
    overflow: hidden;
}

#modalWindowContent {
    min-width: 100px;
    min-height: 100px;
}

.user-info {
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    max-width: 50vw;
}

.user-info__text {
    margin-bottom: 5px;

}

.user-info:nth-last-child(2) {
    padding-bottom: 20px;
}

.user-info__title {
    font-weight: bold;

}

.user-info__data {
    white-space: pre-line;
    overflow-wrap: normal;
    word-wrap: normal;
    word-break: normal;
    line-break: auto;
    hyphens: manual;
}

.comments__list {
    list-style: none;
    white-space: pre-line;
    overflow-wrap: normal;
    word-wrap: normal;
    word-break: normal;
    line-break: auto;
    hyphens: manual;
}

.comments__toolbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 20px;
}


.comment__body {
    font-size: 20px;
    font-weight: bold;
}

.comment__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.comment__tittle {
    font-family: sans-serif;
    font-size: 18px;
    font-weight: bold;
    margin-right: 20px;
    white-space: pre-line;
    overflow-wrap: normal;
    word-wrap: normal;
    word-break: normal;
    line-break: auto;
    hyphens: manual;
}


.comment__user {
    align-self: center;
    font-size: 0;
    cursor: pointer;
}

.comment__user img {
    height: 50px;
    width: 50px;
    margin-left: 50px;
}

.loader__wrapper {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.loader {
    border: 16px solid transparent; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}